/* nav barre */
header {
    background-color:#353535;
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    
}


/* balise a href */
a{
    text-decoration: none;
    color: #BABDBD;
}