
/* SI FICHIER CE METTENT PAS A JOURS SUR SITE EN LIGNE FAIRE CTRL + F5 */

/*PROPRIETIES GLOABLE/SCROLL/FLEX*/
*{scroll-behavior: smooth;}

body {
    margin: 0;
    scroll-behavior: smooth;
}

.flex-row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*IMAGE BANNIERE SITE*/
.imagepage1 {
    background-color: #efeae4;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    background-image: url("../IMG/font-banniere2.png");
    font-family: 'Adventure', sans-serif;
    font-size: xx-large;
    color: #353535;
    flex-direction: column;
    align-items: stretch;
    object-fit: scale-down;
    background-repeat: no-repeat;
}

#imageone{
    font-family: 'Lobster', cursive;
}

.titre{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
    font-size: xx-large;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}




/*TEXTE "JE SUIS DEVELOPPEUR WEB FULL STACK"*/
.banniere-bleu {
    background-color: #15274b;
    height: 10%;
    color: #979B9B;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

/*PARTI A PROPOS*/
.about {
    background-color: #efeae4;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;  
}


/*IMAGE DIV PARTI A PROPOS*/

.img-info{
    height: 75px;
    width: 75px;
}


/*PARTI PARCOURS*/
.parcours {
    background-color:#353535;
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#BABDBD;
    
}

.university {
    height: 95px;
    width: 95px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.parcours-align {
    display: flex;
    justify-content: center;
}

/*taille police large*/
.txt-size {
    font-size:xx-large ;
}


/*CV DOWNLOAD*/
.cv{
    height: 8%;
    width: 100%;
    background-color:#15274b;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    
    
    
}

/*TEXT CV DOWNLOAD*/
.textdownload{
    color:white;
    display: flex;
    flex-direction: row;
    
}

/*IMAGE LOGO CV*/
.imgcv{
    width: 75px; 
    height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

/*PARTI CREATION*/
.creations {
    background-color: #efeae4;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/*DIV CREATIONS*/

.project{
    display: flex;
    flex-direction: row;
    height: 10em;
    width: 10em;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    margin: 10px;   
}

.centerh3{
    text-align: center;
    width: 100%;
}

.bgcolor-blue{background-color: rgb(44, 44, 46);}
.bgcolor-red{background-color: rgb(149, 123, 123);}
.bgcolor-yellow{background-color: rgb(141, 141, 107);}


.contact {
    background-color: #efeae4;
    display: flex;
    widows: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*FORMULAIRE CONTACT*/
.formu-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.info-contact {
    font-size: medium;
}

footer {
    background-color:#353535;
    display: flex;
    widows: 100%;
    height: 3%;
    justify-content: center;
    align-items: center;
    color:#BABDBD;    
}

/*HAUT DE PAGE BOUTON CLIQUABLE*/
#retour-page {
    text-decoration: none;
    color:#353535;
    width: auto;
}
/*ENSEMBLES BALISE = 0 MARGIN*/
h3{margin: 0;}
p{margin: 0;}


