/*PROPRIETIES GLOABLE/SCROLL/FLEX*/
*{scroll-behavior: smooth;}

body {
    margin: 0;
    scroll-behavior: smooth;
}

.flex-row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*IMAGE BANNIERE SITE*/
.imagepage1 {
    background-color: royalblue;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
    background-image: url("../IMG/numero.png");
    justify-content: space-around;
    font-family: 'Adventure', sans-serif;
    font-size: xx-large;
    color: #353535;
    align-items: baseline;
    flex-direction: column;
    
}



/*TEXTE "JE SUIS DEVELOPPEUR WEB FULL STACK"*/
.banniere-bleu {
    background-color: #15274b;
    height: 10%;
    color: #979B9B;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

/*PARTI A PROPOS*/
.about {
    background-color: #efeae4;
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    
    
    
}

/*PARTI PARCOURS*/
.parcours {
    background-color:#353535;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color:#BABDBD;
    
}


/*taille police large*/
.txt-size {
    font-size:xx-large ;
}


.parcours-align {
    display: flex;
    justify-content: space-around;

}

/*CV DOWNLOAD*/
.cv{
    height: 8%;
    width: 100%;
    background-color:#15274b;
    font-size: x-large;
    
}

/*TEXT CV DOWNLOAD*/
.textdownload{
    color:white;
}

/*IMAGE LOGO CV*/
.img-cv{width: 5%; height: 5%;}

/*PARTI CREATION*/
.creations {
    background-color: #efeae4;
    display: flex;
    widows: 100%;
    height: 65%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}



.contact {
    background-color: #efeae4;
    display: flex;
    widows: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
/*FORMULAIRE CONTACT*/
.formu-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

footer {
    background-color:#353535;
    display: flex;
    widows: 100%;
    height: 3%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:#BABDBD;    
}
/*HAUT DE PAGE BOUTON CLIQUABLE*/
#retour-page{text-decoration: none; color:#353535;}
/*ENSEMBLES BALISE = 0 MARGIN*/
h3{margin: 0;}
p{margin: 0;}


